.cover {
  margin: 92px 48px 0 48px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: calc(100% * 0.191);
  padding-bottom: calc(100% * 0.191);
}

@media screen and (max-width: 1200px) {
  .cover {
    margin: 92px 0;
  }
}

@media screen and (max-width: 800px) {
  .cover {
    margin: 90px 0;
    padding-top: calc(100% * 0.150);
    padding-bottom: calc(100% * 0.150);
  }
}

@media screen and (max-width: 700px) {
  .cover {
    margin: 66px 0;
    padding-top: calc(100% * 0.10);
    padding-bottom: calc(100% * 0.10);
  }
}
