.place__link {
  margin: 0;
  margin-top: 12px;
  font-family: "Inter", Arial, sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-size: 18px;
  line-height: 1.2;
  transition: opacity 0.5s linear;
}

.place__link:hover {
  cursor: pointer;
  opacity: 0.5;
}
